designs/server/services/authentication.json
[
    {
        "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "type": "tab",
        "createdDate": "2024-05-13T18:38:46.597Z",
        "label": "authentication",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "authentication",
        "relativeParentPath": ""
    },
    {
        "id": "sd_KjP1tTXY8ubtVYLV",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "to check if the user exists",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "toCheckIfTheUserExists",
        "category": "General",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_o7sY5owLdQDjMSQ7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication"
    },
    {
        "id": "sd_o7sY5owLdQDjMSQ7",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "mongoDB",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "mongoDb",
        "category": "Storage",
        "x": 165,
        "y": 40,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_uUIUBZC8TrCWMreT",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_uUIUBZC8TrCWMreT",
        "category": "General",
        "x": 225,
        "y": 200,
        "wires": [
            [
                "sd_1r7LuLOJrJSKtErt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_1r7LuLOJrJSKtErt",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_1r7LuLOJrJSKtErt",
        "category": "Function",
        "x": 345,
        "y": 200,
        "wires": [
            [
                "sd_MGR6Ii6HahxzHhpw"
            ],
            [
                "sd_PEtPIzN0a9fWLkvB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_MGR6Ii6HahxzHhpw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if error",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'User already exist'\n}",
        "functionName": "ifError",
        "category": "Function",
        "x": 565,
        "y": 120,
        "wires": [
            [
                "sd_OCnBbcvqOLZSMTj9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_DqrU3UoLykR5cDTa",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_DqrU3UoLykR5cDTa",
        "category": "Storage",
        "x": 745,
        "y": 260,
        "wires": [
            [
                "sd_3bnQv8eSzR6JZwQw"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_OCnBbcvqOLZSMTj9",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_OCnBbcvqOLZSMTj9",
        "category": "HTTP",
        "x": 925,
        "y": 120,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_rubhWusWYNNLwPmJ",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "update",
        "path": "/update",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_IjtqtSWN5xiBQ0Ic"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_rubhWusWYNNLwPmJ"
    },
    {
        "id": "sd_IjtqtSWN5xiBQ0Ic",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = 'users';\nbh.filter = { 'email': bh.input.body['email']};\n\ndelete bh.input.body.collection;\n// delete bh.input.body['_id']; \n\nbh.body = {$set: bh.input.body};",
        "functionName": "sd_IjtqtSWN5xiBQ0Ic",
        "category": "Function",
        "x": 185,
        "y": 440,
        "wires": [
            [
                "sd_2i8wqB0nc7q2mVyx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_2i8wqB0nc7q2mVyx",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_2i8wqB0nc7q2mVyx",
        "category": "Storage",
        "x": 305,
        "y": 440,
        "wires": [
            [
                "sd_xjZB4huFTdG8tYAq"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_xjZB4huFTdG8tYAq",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_xjZB4huFTdG8tYAq",
        "category": "HTTP",
        "x": 425,
        "y": 440,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_cteWP9hLQoRNHArY",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "log-in",
        "path": "/log-in",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 660,
        "wires": [
            [
                "sd_rvKwoKEgB1QzIF4w"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_cteWP9hLQoRNHArY"
    },
    {
        "id": "sd_rvKwoKEgB1QzIF4w",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}",
        "functionName": "sd_rvKwoKEgB1QzIF4w",
        "category": "Function",
        "x": 185,
        "y": 660,
        "wires": [
            [
                "sd_bskLfDBe51HGmAZi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_bskLfDBe51HGmAZi",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_bskLfDBe51HGmAZi",
        "category": "General",
        "x": 305,
        "y": 660,
        "wires": [
            [
                "sd_tu2uLm6lTUIUENj0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_tu2uLm6lTUIUENj0",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_tu2uLm6lTUIUENj0",
        "category": "Function",
        "x": 425,
        "y": 660,
        "wires": [
            [
                "sd_yxjKVxJREDrZqi8r"
            ],
            [
                "sd_hsFD6grIGlVB3zwi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_yxjKVxJREDrZqi8r",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result[0];",
        "functionName": "sd_yxjKVxJREDrZqi8r",
        "category": "Function",
        "x": 565,
        "y": 560,
        "wires": [
            [
                "sd_87NnnBLSMgmN7bvY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_87NnnBLSMgmN7bvY",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.pin",
        "propertyType": "bh",
        "propertyGv": "bh.result.pin",
        "rules": [
            {
                "t": "eq",
                "v": "body.pin",
                "vt": "bh.input",
                "gv": "bh.input.body.pin"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_87NnnBLSMgmN7bvY",
        "category": "Function",
        "x": 665,
        "y": 540,
        "wires": [
            [
                "sd_YJDRmwUzjVmTLESq"
            ],
            [
                "sd_SHQWq6zK3Ri2AaZR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_YJDRmwUzjVmTLESq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;",
        "functionName": "sd_YJDRmwUzjVmTLESq",
        "category": "Function",
        "x": 805,
        "y": 560,
        "wires": [
            [
                "sd_pcyOxzVMzk1DjQYV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_pcyOxzVMzk1DjQYV",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_pcyOxzVMzk1DjQYV",
        "category": "HTTP",
        "x": 925,
        "y": 660,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_SHQWq6zK3Ri2AaZR",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'PASSWORD DON\\'T MATCH!!'\n}",
        "functionName": "sd_SHQWq6zK3Ri2AaZR",
        "category": "Function",
        "x": 725,
        "y": 680,
        "wires": [
            [
                "sd_pcyOxzVMzk1DjQYV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_hsFD6grIGlVB3zwi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'INVALID DETAILS!!'\n}",
        "functionName": "sd_hsFD6grIGlVB3zwi",
        "category": "Function",
        "x": 685,
        "y": 760,
        "wires": [
            [
                "sd_pcyOxzVMzk1DjQYV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_Lp0fZfIMyFSc2g2y",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "get customers",
        "path": "/get-customers",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 80,
        "y": 960,
        "wires": [
            [
                "sd_7jc6ulH1Yuoj3AGd"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_Lp0fZfIMyFSc2g2y"
    },
    {
        "id": "sd_7jc6ulH1Yuoj3AGd",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'users'\n}",
        "functionName": "sd_7jc6ulH1Yuoj3AGd",
        "category": "Function",
        "x": 185,
        "y": 960,
        "wires": [
            [
                "sd_zhBOiNCaIPMQ0BzM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_zhBOiNCaIPMQ0BzM",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_zhBOiNCaIPMQ0BzM",
        "category": "General",
        "x": 305,
        "y": 960,
        "wires": [
            [
                "sd_8ZUcStvKVtctPoan"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_8ZUcStvKVtctPoan",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_8ZUcStvKVtctPoan",
        "category": "Function",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "sd_iT5AbZG6vda1stQh"
            ],
            [
                "sd_NoSnWYTN89Up8EMh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_iT5AbZG6vda1stQh",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "success",
        "script": "bh.status = 200;\nbh.result = bh.result;",
        "functionName": "success",
        "category": "Function",
        "x": 560,
        "y": 920,
        "wires": [
            [
                "sd_1ZmxULLNfcKygpjb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_1ZmxULLNfcKygpjb",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_1ZmxULLNfcKygpjb",
        "category": "HTTP",
        "x": 680,
        "y": 980,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_NoSnWYTN89Up8EMh",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "not found",
        "script": "bh.status = 404;\n",
        "functionName": "notFound",
        "category": "Function",
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "sd_1ZmxULLNfcKygpjb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_wNSwJNXL5YZXw945",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "add customer",
        "path": "/registration",
        "uploadpath": "\"C:\\\\Users\\\\User\\\\Desktop\\\\capitec-app\\\\src\\\\assets\\\\uploads\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "ID",
                    "maxCount": 1
                }
            ],
            "path": "\"C:\\\\Users\\\\User\\\\Desktop\\\\capitec-app\\\\src\\\\assets\\\\uploads\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "ID",
                    "value": "1",
                    "rowId": "sd_v477ZXmJ3B5rb9Hb",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": [
                {
                    "key": "multipart/form-data",
                    "rowId": "sd_NI0jnmZc7sR32v6G",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_oQC3wqUeMZ33B9S1"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "C:\\Users\\User\\Desktop\\capitec-app\\src\\assets\\uploads",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_wNSwJNXL5YZXw945"
    },
    {
        "id": "sd_Oo2Mvr3ELxt6cN6T",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "get doc",
        "path": "/get-doc",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 1340,
        "wires": [
            [
                "sd_661GptA084Ggo9sh"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_Oo2Mvr3ELxt6cN6T"
    },
    {
        "id": "sd_661GptA084Ggo9sh",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'doc'\n}\n\n// bh.file = bh.input.files.name[0]",
        "functionName": "sd_661GptA084Ggo9sh",
        "category": "Function",
        "x": 145,
        "y": 1340,
        "wires": [
            [
                "sd_36lGut0kmUrlZgzm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_36lGut0kmUrlZgzm",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_36lGut0kmUrlZgzm",
        "category": "General",
        "x": 245,
        "y": 1340,
        "wires": [
            [
                "sd_lIQWNmZ7uoQrmhEK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_LGBeMHDbzn4SoWZG",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "successful",
        "script": "bh.status = 200;\nbh.result = bh.result;",
        "functionName": "successful",
        "category": "Function",
        "x": 505,
        "y": 1300,
        "wires": [
            [
                "sd_6Q2BvqFxg3RhsZ8B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_lIQWNmZ7uoQrmhEK",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_lIQWNmZ7uoQrmhEK",
        "category": "Function",
        "x": 385,
        "y": 1340,
        "wires": [
            [
                "sd_LGBeMHDbzn4SoWZG"
            ],
            [
                "sd_ayEeQr33bxxb6ymN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_ayEeQr33bxxb6ymN",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "not found any",
        "script": "bh.status = 404;\n",
        "functionName": "notFoundAny",
        "category": "Function",
        "x": 585,
        "y": 1400,
        "wires": [
            [
                "sd_hvL7nY3Typ2jB5GI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_hvL7nY3Typ2jB5GI",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_hvL7nY3Typ2jB5GI",
        "category": "HTTP",
        "x": 705,
        "y": 1340,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_rDyQ3CiQZzPAgQUw",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "add-admin",
        "path": "/add-admin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 1540,
        "wires": [
            [
                "sd_Ga8IrwSSvEOy4YZv"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_rDyQ3CiQZzPAgQUw"
    },
    {
        "id": "sd_Ga8IrwSSvEOy4YZv",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = bh.input.body\n\nbh.body = {\n    email: \"kimberlymnguni@gmail.com\",\n    password:\"1234\",\n    collection: \"admin\"\n}\n\nconsole.log(bh.body)\n\nbh.collection = bh.input.body.collection;\n\ndelete bh.input.body.collection;",
        "functionName": "sd_Ga8IrwSSvEOy4YZv",
        "category": "Function",
        "x": 150,
        "y": 1540,
        "wires": [
            [
                "sd_tGwwFfC8rIMMSpXb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_tGwwFfC8rIMMSpXb",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.body",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_tGwwFfC8rIMMSpXb",
        "category": "Storage",
        "x": 250,
        "y": 1540,
        "wires": [
            [
                "sd_WSbR9ZOsy4Zb7OTg"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "body",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_WSbR9ZOsy4Zb7OTg",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_WSbR9ZOsy4Zb7OTg",
        "category": "HTTP",
        "x": 350,
        "y": 1540,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_ZXYb7DtTQtl0IzCS",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload ID",
        "path": "/upload-ID",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "ID",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "ID",
                    "value": "1",
                    "rowId": "sd_FfCdCnPWJgMlGTrN",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 1740,
        "wires": [
            [
                "sd_re0o7HyOwTWh41s1"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_ZXYb7DtTQtl0IzCS"
    },
    {
        "id": "sd_re0o7HyOwTWh41s1",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(bh.file)\nbh.file = bh.input.files.ID[0]\n\nbh.file['email'] = bh.emails\nbh.doc = {\n    collection : \"ID\"\n    }\n\nconsole.log(\"LOOK HERE ==>\", bh.emails)\n\n\n",
        "functionName": "sd_re0o7HyOwTWh41s1",
        "category": "Function",
        "x": 145,
        "y": 1740,
        "wires": [
            [
                "sd_14SgH4ecYfSbicRp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_14SgH4ecYfSbicRp",
        "type": "FileIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "encoding": "utf8",
        "outputs": 1,
        "format": "buffer",
        "filepath": {
            "type": "bh",
            "value": "file.path"
        },
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_14SgH4ecYfSbicRp",
        "category": "File Operation",
        "x": 245,
        "y": 1740,
        "wires": [
            [
                "sd_2vm1so87YiwjrXIi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_3rXbYssh6iKCE1nX",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "bin",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "bin": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_3rXbYssh6iKCE1nX",
        "category": "HTTP",
        "x": 545,
        "y": 1740,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_BkHAnn4KnTDpFXyo",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.doc.collection",
        "options": "bh.buffer",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.file",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_BkHAnn4KnTDpFXyo",
        "category": "Storage",
        "x": 445,
        "y": 1740,
        "wires": [
            [
                "sd_3rXbYssh6iKCE1nX"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "doc.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "buffer",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "file",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_2vm1so87YiwjrXIi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.dataString = bh.result.toString()\nbh.result = bh.dataString\n\n\nconsole.log(\"result\", bh.result)",
        "functionName": "sd_2vm1so87YiwjrXIi",
        "category": "Function",
        "x": 325,
        "y": 1740,
        "wires": [
            [
                "sd_BkHAnn4KnTDpFXyo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_GnRmWMJ9CKwXfT4s",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "admin-login",
        "path": "/admin-log-in",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 1085,
        "y": 660,
        "wires": [
            [
                "sd_rQns6bmCqDtYJRF7"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_GnRmWMJ9CKwXfT4s"
    },
    {
        "id": "sd_rQns6bmCqDtYJRF7",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'admin'\n}",
        "functionName": "sd_rQns6bmCqDtYJRF7",
        "category": "Function",
        "x": 1205,
        "y": 660,
        "wires": [
            [
                "sd_QR4qOfFknjPdlE0G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_QR4qOfFknjPdlE0G",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_QR4qOfFknjPdlE0G",
        "category": "General",
        "x": 1325,
        "y": 660,
        "wires": [
            [
                "sd_SFDFfsQ9TxHjgsbc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_SFDFfsQ9TxHjgsbc",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_SFDFfsQ9TxHjgsbc",
        "category": "Function",
        "x": 1445,
        "y": 660,
        "wires": [
            [
                "sd_wjuBiwG2Vg0wiQ0x"
            ],
            [
                "sd_vT1LNiuDsUxgCaQA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_wjuBiwG2Vg0wiQ0x",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result[0];",
        "functionName": "sd_wjuBiwG2Vg0wiQ0x",
        "category": "Function",
        "x": 1565,
        "y": 560,
        "wires": [
            [
                "sd_CPi0qPxSbjJRKlZ2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_CPi0qPxSbjJRKlZ2",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.pin",
        "propertyType": "bh",
        "propertyGv": "bh.result.pin",
        "rules": [
            {
                "t": "eq",
                "v": "body.pin",
                "vt": "bh.input",
                "gv": "bh.input.body.pin"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_CPi0qPxSbjJRKlZ2",
        "category": "Function",
        "x": 1685,
        "y": 540,
        "wires": [
            [
                "sd_nWpXEq4rgKND731X"
            ],
            [
                "sd_3PVUvGnkNT994W8u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_nWpXEq4rgKND731X",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;",
        "functionName": "sd_nWpXEq4rgKND731X",
        "category": "Function",
        "x": 1825,
        "y": 560,
        "wires": [
            [
                "sd_jhfvpJLQq0j8fXSO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_jhfvpJLQq0j8fXSO",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_jhfvpJLQq0j8fXSO",
        "category": "HTTP",
        "x": 1945,
        "y": 660,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_3PVUvGnkNT994W8u",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'PASSWORD DON\\'T MATCH!!'\n}",
        "functionName": "sd_3PVUvGnkNT994W8u",
        "category": "Function",
        "x": 1745,
        "y": 680,
        "wires": [
            [
                "sd_jhfvpJLQq0j8fXSO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_vT1LNiuDsUxgCaQA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'INVALID DETAILS'\n}",
        "functionName": "sd_vT1LNiuDsUxgCaQA",
        "category": "Function",
        "x": 1705,
        "y": 760,
        "wires": [
            [
                "sd_jhfvpJLQq0j8fXSO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_PEtPIzN0a9fWLkvB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "search using an email",
        "script": "",
        "functionName": "searchUsingAnEmail",
        "category": "Function",
        "x": 445,
        "y": 300,
        "wires": [
            [
                "sd_1PgsBoBZHTxIgHrz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_oQC3wqUeMZ33B9S1",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "filter",
        "script": "       bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users',\n}\n\nbh.input.body['_id'] = new Date().getTime();\nbh.input.body['status'] = \"pending\";\nbh.input.body['available balance'] = 50\nbh.input.body['cash-withdrawal-limit'] = 5000\nbh.input.body['card-purchases-limit'] = 50000\nbh.input.body['online/scan-to-pay/phone'] = 50000\n\nbh.input.body['cash-withdrawal-limit-temp'] = 5000\nbh.input.body['card-purchases-limit-temp'] = 50000\nbh.input.body['online/scan-to-pay/phone-temp'] = 50000\n\nbh.input.body['date'] = \"N/A\"\nbh.input.body['registered'] = \"true\"\n\nconsole.log(bh.input.body)",
        "functionName": "filter",
        "category": "Function",
        "x": 145,
        "y": 200,
        "wires": [
            [
                "sd_uUIUBZC8TrCWMreT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_1PgsBoBZHTxIgHrz",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Last script: ',  bh.hashed)\nbh.status = 200;\nbh.collection = bh.input.body.collection;\n\ndelete bh.input.body.collection;\nbh.body = bh.input.body;\nconsole.log(bh.body)\nconsole.log(bh.input.body)\n\n\n\nconsole.log('body ==>', bh.result);",
        "functionName": "sd_1PgsBoBZHTxIgHrz",
        "category": "Function",
        "x": 565,
        "y": 300,
        "wires": [
            [
                "sd_FyqgIf0A0W3zujIX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_7tbBQhVKDFD7qzBH",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "update-admin",
        "path": "/update-admin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 1920,
        "wires": [
            [
                "sd_J20aydaSlPCQR1LX"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_7tbBQhVKDFD7qzBH"
    },
    {
        "id": "sd_k1W1kSOTd6xxcwVp",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = 'users';\nbh.filter = { 'email': bh.input.body['email']};\n\ndelete bh.input.body.collection;\n\nbh.body = {$set: bh.input.body};\n\nbh.accountNo = new Date().getTime()",
        "functionName": "sd_k1W1kSOTd6xxcwVp",
        "category": "Function",
        "x": 225,
        "y": 1920,
        "wires": [
            [
                "sd_4M8rRkWGCSTdWq2m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_iEGqdVrO2IrPKZlR",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_iEGqdVrO2IrPKZlR",
        "category": "Storage",
        "x": 485,
        "y": 1860,
        "wires": [
            [
                "sd_Q6O5gIdDjkxbhMdz"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_TcKHIgUtKSz6qmni",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_TcKHIgUtKSz6qmni",
        "category": "HTTP",
        "x": 725,
        "y": 1900,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_Q6O5gIdDjkxbhMdz",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_bkwqQKmMI8faGDdO",
        "from": "bh.payload.from",
        "to": "bh.input.body.email",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "undefined",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_Q6O5gIdDjkxbhMdz",
        "category": "Messaging",
        "x": 585,
        "y": 1860,
        "wires": [
            [
                "sd_TcKHIgUtKSz6qmni"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "input.body.email",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_J20aydaSlPCQR1LX",
        "type": "ServiceVariables",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "accountNumber",
                "typedIpValue": {
                    "type": "bh",
                    "value": "accountNumber"
                }
            }
        ],
        "functionName": "sd_J20aydaSlPCQR1LX",
        "category": "Function",
        "x": 145,
        "y": 1920,
        "wires": [
            [
                "sd_k1W1kSOTd6xxcwVp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_33uhtyPmtIE2sl8p",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: 'APPLICATION SUCCESSFUL',\n    from: 'Capitec',\n    body: `Your application to bank with Capitec has been approved.\n    <br>\n    <br>\nYour account number is ${bh.accountNo}\n<br>\n<br>\n<center><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Capitec_Bank_logo.svg/768px-Capitec_Bank_logo.svg.png\" width=\"300px\" height=\"80px\"/></center>`\n}\n\n\nbh.input.body['accountNumber'] = bh.accountNo\n\n\nconsole.log(bh.payload)\n\nbh.status = 200;",
        "functionName": "sd_33uhtyPmtIE2sl8p",
        "category": "Function",
        "x": 385,
        "y": 1860,
        "wires": [
            [
                "sd_iEGqdVrO2IrPKZlR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_4M8rRkWGCSTdWq2m",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.body.status",
        "propertyType": "bh",
        "propertyGv": "bh.input.body.status",
        "rules": [
            {
                "t": "eq",
                "v": "approved",
                "vt": "str",
                "gv": "\"approved\""
            },
            {
                "t": "eq",
                "v": "declined",
                "vt": "str",
                "gv": "\"declined\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4M8rRkWGCSTdWq2m",
        "category": "Function",
        "x": 305,
        "y": 1920,
        "wires": [
            [
                "sd_33uhtyPmtIE2sl8p"
            ],
            [
                "sd_YUZy02IqT07gy1tn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_YUZy02IqT07gy1tn",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: '<b> REGISTRATION UNSUCCESSFUL </b>',\n    from: 'Capitec',\n    body: `Your application to bank with Capitec was not approved.\n   <br>\n   <br>\n   <center><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Capitec_Bank_logo.svg/768px-Capitec_Bank_logo.svg.png\" width=\"300px\" height=\"80px\"/>  </center>`\n}\n\nbh.status = 200;",
        "functionName": "sd_YUZy02IqT07gy1tn",
        "category": "Function",
        "x": 385,
        "y": 1980,
        "wires": [
            [
                "sd_zG9YQRzqT1mvDtoB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_SImLNw21YIVEUAms",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_bkwqQKmMI8faGDdO",
        "from": "bh.payload.from",
        "to": "bh.input.body.email",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "undefined",
        "html": "bh.payload.body",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_SImLNw21YIVEUAms",
        "category": "Messaging",
        "x": 585,
        "y": 1980,
        "wires": [
            [
                "sd_TcKHIgUtKSz6qmni"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "input.body.email",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_nAhUEQR5GV1o7HYM",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "Delete",
        "path": "/delete",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "delete",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 2140,
        "wires": [
            [
                "sd_mhe6dRuGGK3uEJCF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_nAhUEQR5GV1o7HYM"
    },
    {
        "id": "sd_mhe6dRuGGK3uEJCF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users',\n}\n\nbh.filter = { 'email': bh.input.body['email']};\n",
        "functionName": "sd_mhe6dRuGGK3uEJCF",
        "category": "Function",
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "sd_OLUA6D209KtJiSlc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_OLUA6D209KtJiSlc",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_OLUA6D209KtJiSlc",
        "category": "General",
        "x": 250,
        "y": 2140,
        "wires": [
            [
                "sd_sa4x6ewisc0U4fqq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_sa4x6ewisc0U4fqq",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndDelete",
        "argumentArray": [
            "filter",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_sa4x6ewisc0U4fqq",
        "category": "Storage",
        "x": 365,
        "y": 2140,
        "wires": [
            [
                "sd_YBIuyekp2L72ixYI"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_YBIuyekp2L72ixYI",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_YBIuyekp2L72ixYI",
        "category": "HTTP",
        "x": 465,
        "y": 2140,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_6Q2BvqFxg3RhsZ8B",
        "type": "FileOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "encoding": "utf8",
        "outputs": 1,
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": false,
        "isStreaming": false,
        "filepath": {
            "type": "bh",
            "value": "file.path"
        },
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_6Q2BvqFxg3RhsZ8B",
        "category": "File Operation",
        "x": 605,
        "y": 1300,
        "wires": [
            [
                "sd_hvL7nY3Typ2jB5GI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_GTrmxnfmYdF2FMf4",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload residence",
        "path": "/upload-proof",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "proof_of_residence",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "proof_of_residence",
                    "value": "1",
                    "rowId": "sd_FfCdCnPWJgMlGTrN",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 2320,
        "wires": [
            [
                "sd_2pnSdVCyfl7FNdGx"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_GTrmxnfmYdF2FMf4"
    },
    {
        "id": "sd_2pnSdVCyfl7FNdGx",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.proof_of_residence[0]\n\nbh.file['email'] = bh.emails\nbh.doc = {\n    collection : \"Proof_of_residence\"\n    }\n\nconsole.log(\"LOOK HERE ==>\", bh.emails)\n\n\n",
        "functionName": "sd_2pnSdVCyfl7FNdGx",
        "category": "Function",
        "x": 145,
        "y": 2320,
        "wires": [
            [
                "sd_TPSoLDHqp4ctSrqo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_TPSoLDHqp4ctSrqo",
        "type": "FileIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "encoding": "utf8",
        "outputs": 1,
        "format": "buffer",
        "filepath": {
            "type": "bh",
            "value": "file.path"
        },
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_TPSoLDHqp4ctSrqo",
        "category": "File Operation",
        "x": 245,
        "y": 2320,
        "wires": [
            [
                "sd_C8IZoIinakp9r0kb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_nOb4lYosXVYPRmpt",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "file",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "bin",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "bin": "bh.file"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_nOb4lYosXVYPRmpt",
        "category": "HTTP",
        "x": 545,
        "y": 2320,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_CDxctjftAsrDISTV",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.doc.collection",
        "options": "bh.buffer",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.file",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_CDxctjftAsrDISTV",
        "category": "Storage",
        "x": 445,
        "y": 2320,
        "wires": [
            [
                "sd_nOb4lYosXVYPRmpt"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "doc.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "buffer",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "file",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_C8IZoIinakp9r0kb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.dataString = bh.result.toString()\nbh.result = bh.dataString\n\n\nconsole.log(\"result\", bh.result)",
        "functionName": "sd_C8IZoIinakp9r0kb",
        "category": "Function",
        "x": 325,
        "y": 2320,
        "wires": [
            [
                "sd_CDxctjftAsrDISTV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_5SewGgYttHnr3W8A",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload picture",
        "path": "/upload-picture",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "pictures",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "pictures",
                    "value": "1",
                    "rowId": "sd_FfCdCnPWJgMlGTrN",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 2460,
        "wires": [
            [
                "sd_uokvLXcME4b47mIE"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "authentication",
        "functionName": "sd_5SewGgYttHnr3W8A"
    },
    {
        "id": "sd_uokvLXcME4b47mIE",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.pictures[0]\n\nbh.file['email'] = bh.emails\nbh.doc = {\n    collection : \"pictures\"\n    }\n\nconsole.log(\"LOOK HERE ==>\", bh.emails)\n\n\n",
        "functionName": "sd_uokvLXcME4b47mIE",
        "category": "Function",
        "x": 165,
        "y": 2460,
        "wires": [
            [
                "sd_Gq43Mp6tQu3JLi70"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_Gq43Mp6tQu3JLi70",
        "type": "FileIn",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "encoding": "utf8",
        "outputs": 1,
        "format": "buffer",
        "filepath": {
            "type": "bh",
            "value": "file.path"
        },
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_Gq43Mp6tQu3JLi70",
        "category": "File Operation",
        "x": 265,
        "y": 2460,
        "wires": [
            [
                "sd_yK0YzpyAgug60cmD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_HUYr3nZYciEi4OsC",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "file",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "bin",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "bin": "bh.file"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_HUYr3nZYciEi4OsC",
        "category": "HTTP",
        "x": 565,
        "y": 2460,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_vfqnU1o3r5i7icy0",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.doc.collection",
        "options": "bh.buffer",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.file",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_vfqnU1o3r5i7icy0",
        "category": "Storage",
        "x": 465,
        "y": 2460,
        "wires": [
            [
                "sd_HUYr3nZYciEi4OsC"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "doc.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "buffer",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "file",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_yK0YzpyAgug60cmD",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.dataString = bh.result.toString()\nbh.result = bh.dataString\n\n\nconsole.log(\"result\", bh.result)",
        "functionName": "sd_yK0YzpyAgug60cmD",
        "category": "Function",
        "x": 345,
        "y": 2460,
        "wires": [
            [
                "sd_vfqnU1o3r5i7icy0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_FyqgIf0A0W3zujIX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: 'REGISTRATION SUCCESSFUL',\n    from: 'Capitec',\n    body: `Your application to bank with Capitec has been sent.\n    <br>\n    <br>\n<br>\n<br>\n<img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Capitec_Bank_logo.svg/768px-Capitec_Bank_logo.svg.png\" width=\"300px\" height=\"80px\"/>`\n}\n\n\nbh.input.body['accountNumber'] = bh.accountNo\n\n\nconsole.log(bh.payload)\n\nbh.status = 200;",
        "functionName": "sd_FyqgIf0A0W3zujIX",
        "category": "Function",
        "x": 645,
        "y": 300,
        "wires": [
            [
                "sd_DqrU3UoLykR5cDTa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_3bnQv8eSzR6JZwQw",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_bkwqQKmMI8faGDdO",
        "from": "bh.payload.from",
        "to": "bh.input.body.email",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "undefined",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_3bnQv8eSzR6JZwQw",
        "category": "Messaging",
        "x": 845,
        "y": 200,
        "wires": [
            [
                "sd_OCnBbcvqOLZSMTj9"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "input.body.email",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    },
    {
        "id": "sd_zG9YQRzqT1mvDtoB",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_zG9YQRzqT1mvDtoB",
        "category": "Storage",
        "x": 485,
        "y": 1980,
        "wires": [
            [
                "sd_SImLNw21YIVEUAms"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "authentication",
        "generated": true
    }
]
