designs/server/services/money.json
[
    {
        "id": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "type": "tab",
        "createdDate": "2024-05-17T13:17:15.988Z",
        "label": "money",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "money",
        "relativeParentPath": ""
    },
    {
        "id": "sd_60BNLbiIpUVayAY8",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "airtime",
        "path": "/buy-airtime",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_6mdfSM2ofre2xeVL"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_60BNLbiIpUVayAY8"
    },
    {
        "id": "sd_6mdfSM2ofre2xeVL",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.buy = {\n    'collection': 'airtime'\n}\n\nbh.input.body['_id'] = new Date().getTime()\n\n\n",
        "functionName": "sd_6mdfSM2ofre2xeVL",
        "category": "Function",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_Sqjhhey5v5mC1c4g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_Sqjhhey5v5mC1c4g",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\n\ndelete\nbh.input.body['collection'] ",
        "functionName": "sd_Sqjhhey5v5mC1c4g",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_0s92eGXBdE4oUVyu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_MXd1zA6Ck1ZWmlN9",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_MXd1zA6Ck1ZWmlN9",
        "category": "HTTP",
        "x": 505,
        "y": 60,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_0s92eGXBdE4oUVyu",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.buy.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_0s92eGXBdE4oUVyu",
        "category": "Storage",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "sd_MXd1zA6Ck1ZWmlN9"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "buy.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "input.body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_km6pcIJHHjl4EtKi",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "electricity",
        "path": "/buy-electricity",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_US6fzZ3MTlO35CxO"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_km6pcIJHHjl4EtKi"
    },
    {
        "id": "sd_US6fzZ3MTlO35CxO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.buy = {\n    'collection': 'electricity'\n}\n\nbh.input.body['_id'] = new Date().getTime()\n\n\n",
        "functionName": "sd_US6fzZ3MTlO35CxO",
        "category": "Function",
        "x": 185,
        "y": 180,
        "wires": [
            [
                "sd_Q5g0VYC8xoKeqBrq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_Q5g0VYC8xoKeqBrq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\n\ndelete\nbh.input.body['collection'] ",
        "functionName": "sd_Q5g0VYC8xoKeqBrq",
        "category": "Function",
        "x": 285,
        "y": 180,
        "wires": [
            [
                "sd_P3Y1CXHVTwbULE8Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_FSQOAtHPn26LsU6M",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_FSQOAtHPn26LsU6M",
        "category": "HTTP",
        "x": 505,
        "y": 180,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_P3Y1CXHVTwbULE8Q",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.buy.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_P3Y1CXHVTwbULE8Q",
        "category": "Storage",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "sd_FSQOAtHPn26LsU6M"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "buy.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "input.body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_xIBhpWD43UbWeZRC",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "money transfer",
        "path": "/send-money",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 280,
        "wires": [
            [
                "sd_PcL1SOCo3VWgYpJM"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_xIBhpWD43UbWeZRC"
    },
    {
        "id": "sd_PcL1SOCo3VWgYpJM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.send = {\n    'collection': 'money-transfer'\n}\n\nbh.input.body['_id'] = new Date().getTime()\n\n\n",
        "functionName": "sd_PcL1SOCo3VWgYpJM",
        "category": "Function",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_Pw4KZCHOFtLfdzC8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_Pw4KZCHOFtLfdzC8",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\n\ndelete\nbh.input.body['collection'] ",
        "functionName": "sd_Pw4KZCHOFtLfdzC8",
        "category": "Function",
        "x": 285,
        "y": 280,
        "wires": [
            [
                "sd_FbGwYvflgdBIgxUj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_HCz1A9OJzavy4llZ",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_HCz1A9OJzavy4llZ",
        "category": "HTTP",
        "x": 505,
        "y": 280,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_FbGwYvflgdBIgxUj",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.send.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_FbGwYvflgdBIgxUj",
        "category": "Storage",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "sd_HCz1A9OJzavy4llZ"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "send.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "input.body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_1CzkgzcP8319IxLr",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "add loan",
        "path": "/add-loan",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 520,
        "wires": [
            [
                "sd_a3GLXtWfgmhnkp6C"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_1CzkgzcP8319IxLr"
    },
    {
        "id": "sd_a3GLXtWfgmhnkp6C",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.send = {\n    'collection': 'loans'\n}\n\nbh.input.body['_id'] = new Date().getTime()\n\n\n",
        "functionName": "sd_a3GLXtWfgmhnkp6C",
        "category": "Function",
        "x": 185,
        "y": 520,
        "wires": [
            [
                "sd_ihonYKFe0Arb8V2X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_ihonYKFe0Arb8V2X",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\n\ndelete\nbh.input.body['collection'] ",
        "functionName": "sd_ihonYKFe0Arb8V2X",
        "category": "Function",
        "x": 285,
        "y": 520,
        "wires": [
            [
                "sd_NP41EUmvntzAzFY1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_mbhENd6X7IKiPJAt",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_mbhENd6X7IKiPJAt",
        "category": "HTTP",
        "x": 505,
        "y": 520,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_NP41EUmvntzAzFY1",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.send.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_NP41EUmvntzAzFY1",
        "category": "Storage",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "sd_mbhENd6X7IKiPJAt"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "send.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "input.body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_3OviGai5r5P8bsS9",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "get loans",
        "path": "/get-loans",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 660,
        "wires": [
            [
                "sd_YipzuufjTxx4VnN2"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_3OviGai5r5P8bsS9"
    },
    {
        "id": "sd_YipzuufjTxx4VnN2",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'loans'\n}",
        "functionName": "sd_YipzuufjTxx4VnN2",
        "category": "Function",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "sd_i0RPlQBKjEkLTRQX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_i0RPlQBKjEkLTRQX",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_i0RPlQBKjEkLTRQX",
        "category": "General",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "sd_eAczU2y4dCAH1VRy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_eAczU2y4dCAH1VRy",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_eAczU2y4dCAH1VRy",
        "category": "Function",
        "x": 425,
        "y": 660,
        "wires": [
            [
                "sd_vPGWB5yrPQsZM1aj"
            ],
            [
                "sd_qXjYM4fxOps0qfRO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_vPGWB5yrPQsZM1aj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "success",
        "script": "bh.status = 200;\nbh.result = bh.result;",
        "functionName": "success",
        "category": "Function",
        "x": 545,
        "y": 620,
        "wires": [
            [
                "sd_plmM1gpstsznqClp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_plmM1gpstsznqClp",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_plmM1gpstsznqClp",
        "category": "HTTP",
        "x": 665,
        "y": 680,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_qXjYM4fxOps0qfRO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "not found",
        "script": "bh.status = 404;\n",
        "functionName": "notFound",
        "category": "Function",
        "x": 545,
        "y": 760,
        "wires": [
            [
                "sd_plmM1gpstsznqClp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_5mLoRLPxenKmy7OD",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "to check if the user exists",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "toCheckIfTheUserExists",
        "category": "General",
        "x": 65,
        "y": 840,
        "wires": [
            [
                "sd_Uu80lqbuy1yUpJx2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money"
    },
    {
        "id": "sd_Uu80lqbuy1yUpJx2",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "mongoDB",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "mongoDb",
        "category": "Storage",
        "x": 165,
        "y": 840,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_1jZLDEYQFXU9lMyU",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "start",
        "name": "get electricity",
        "path": "/get-electricity",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 625,
        "y": 200,
        "wires": [
            [
                "sd_CiIL3tc2dQmojqMa"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "money",
        "functionName": "sd_1jZLDEYQFXU9lMyU"
    },
    {
        "id": "sd_CiIL3tc2dQmojqMa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'electricity'\n}",
        "functionName": "sd_CiIL3tc2dQmojqMa",
        "category": "Function",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "sd_0gb53WAfZszAQnM3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_0gb53WAfZszAQnM3",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_0gb53WAfZszAQnM3",
        "category": "General",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "sd_PJfVuB3NawONkGpe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_PJfVuB3NawONkGpe",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_PJfVuB3NawONkGpe",
        "category": "Function",
        "x": 985,
        "y": 200,
        "wires": [
            [
                "sd_BzvGgfRwpIs26TPW"
            ],
            [
                "sd_UnwJb79UoxRi9cYA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_BzvGgfRwpIs26TPW",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "good",
        "script": "bh.status = 200;\nbh.result = bh.result;",
        "functionName": "good",
        "category": "Function",
        "x": 1105,
        "y": 160,
        "wires": [
            [
                "sd_vxbTMeU5kM3dc30W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_vxbTMeU5kM3dc30W",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_vxbTMeU5kM3dc30W",
        "category": "HTTP",
        "x": 1225,
        "y": 220,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    },
    {
        "id": "sd_UnwJb79UoxRi9cYA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_gvv5IQCm9dR7gP0I",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bad",
        "script": "bh.status = 404;\n",
        "functionName": "bad",
        "category": "Function",
        "x": 1105,
        "y": 300,
        "wires": [
            [
                "sd_vxbTMeU5kM3dc30W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "money",
        "generated": true
    }
]
